footer {
  #updates-section {
    .main-heading {
      text-align: center;
      padding: 40px 0 20px;
      font-size: 28px;
      line-height: 36px;
      font-weight: 700;

      .yellow {
        color: $color-2;
      }
    }

    hr {
      border-top: 1px solid $color-3;
      max-width: 500px;
    }

    .paper {
      margin: 5vh auto 10vh;
      min-width: 20vw;
      max-width: 60vh;
      min-height: 20vh;
      border-radius: 4px;
      box-shadow: 0 15px 35px rgba(50, 50, 90, .1), 0 5px 15px rgba(0, 0, 0, .07);
      transition: 0.6s ease;
      background: white;
      text-align: center;

      &:hover {
        box-shadow: 0 18px 35px rgba(50, 50, 90, .1), 0 8px 15px rgba(0, 0, 0, .07);
        transform: translateY(-3px);
      }

      .poster {
        img {
          border-radius: 4px 4px 0 0;
          max-width: 100%;
          max-height: 100%;
          margin-bottom: 2vh;
        }
      }

      h1 {
        font-size: 1.2rem;
        color: #303336;
        // letter-spacing: 1px;
        margin: 2vh 2vw;
      }

      h2 {
        font-size: 0.7rem;
        color: #A0A6AB;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 10px;
      }

      hr {
        width: 20%;
        margin-top: 3vh;
        margin-bottom: 3vh;
        border: 0;
        border-bottom: 1px solid #E6E9EC;
      }

      p {
        margin: 2vh 3vw;
        text-align: center;
        padding-bottom: 1vh;
        color: #A0A6AB;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.25rem;
      }

      .btn,
      a.btn {
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        line-height: 20px;
        border-radius: 4px;
        padding: 1vh 2vh;
        letter-spacing: 0.02rem;
        background-color: $color-2;
        color: white;
        font-size: 0.8rem;
        box-shadow: 0 0 0 $color-shadow, 0 0 0 rgba(0, 0, 0, 0);
        transition: transform 0.2s ease-in, background-color 0.2s ease-in, box-shadow 0.2s ease-in;
      }

      .btn,
      a.btn:hover {
        background-color: $color-1;
        box-shadow: 0 7px 14px $color-shadow, 0 3px 6px rgba(0, 0, 0, .08);
        transform: translateY(-1px);
      }

      .btn,
      a.btn:active {
        box-shadow: 0 4px 6px $color-shadow, 0 1px 3px rgba(0, 0, 0, .12);
        transform: translateY(1px);
      }

      .space {
        height: 4vh;
      }
    }

    .view-all-btn-row {
      text-align: center;
      margin: 0 0 20px;

      .view-all-news {
        cursor: pointer;
        background-color: $color-1;
        padding: 14px 24px;
        color: $color-5;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        // font-weight: 700;
        border-radius: 4px;
        transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;

        &:hover {
          background-color: $color-4;
          box-shadow: 0 7px 14px $color-shadow, 0 3px 6px rgba(0, 0, 0, .08);
        }
      }
    }
  }

  .footer-container {
    // margin-top: 50px; // do not remove
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0;
    // background-color: $color-4;
    .contact-row {
      margin: 0 !important;
      min-height: 400px;
      background-size: cover;
      padding: 70px 0 0 100px;
      @media only screen and (max-width: 769px) {
        padding: 50px 0 0 40px;
        min-height: 300px;
      }
      @media only screen and (max-width: 533px) {
        padding: 30px 10px;
      }

      .heading-1 {
        font-weight: 500;
        letter-spacing: 0.1em;
        font-size: 18px;
        color: $color-2;
        margin-bottom: 10px;
        text-shadow: 0 0 1px rgba(150, 150, 150, 0.3);
        @media only screen and (max-width: 533px) {
          font-size: 14px;
        }
      }

      .heading-2 {
        font-weight: 700;
        font-size: 66px;
        color: $color-4;
        margin-bottom: 20px;
        text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
        @media only screen and (max-width: 769px) {
          font-size: 48px;
        }
        @media only screen and (max-width: 533px) {
          font-size: 32px;
        }
      }

      .heading-3 {
        font-weight: 300;
        font-size: 18px;
        color: $color-4;
        margin-bottom: 60px;
        @media only screen and (max-width: 769px) {
          margin-bottom: 30px;
        }
        @media only screen and (max-width: 533px) {
          margin-bottom: 20px;
          font-size: 18px;
        }
      }

      .contact-btn {
        text-align: center;
        width: 220px;
        padding: 22px 0;
        border: 2px solid $color-4;
        border-radius: 4px;
        color: $color-4;
        font-weight: 700;
        letter-spacing: 0.15em;
        font-size: 14px;
        cursor: pointer;
        transition: color 0.2s linear, background-color 0.2s linear;
        @media only screen and (max-width: 769px) {
          width: 180px;
          padding: 18px 0;
        }
        @media only screen and (max-width: 533px) {
          width: 150px;
          padding: 14px 0;
          font-size: 12px;
        }

        &:hover {
          background-color: $color-4;
          color: $color-2;
        }
      }
    }

    .footer-row {
      background-color: $color-1;
      min-height: 450px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      padding: 70px 0 0 100px;
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
      @media only screen and (max-width: 1152px) {
        padding: 30px 40px 0;
      }
      @media only screen and (max-width: 991px) {
        padding: 20px 20px 0;
      }

      .footer-brand {
        @media only screen and (max-width: 991px) {
          text-align: center;
          margin-bottom: 40px;
        }

        .logo {
          margin-bottom: 20px;

          img {
            width: 250px;
            @media only screen and (max-width: 1152px) {
              width: 180px;
            }
            @media only screen and (max-width: 991px) {
              width: 150px;
            }
          }
        }

        .heading {
          font-size: 48px;
          line-height: 58px;
          margin-bottom: 20px;
          font-weight: 700;
          color: $color-2;
          @media only screen and (max-width: 1152px) {
            font-size: 36px;
            line-height: 44px;
            margin-bottom: 15px;
          }
          @media only screen and (max-width: 991px) {
            font-size: 28px;
            line-height: 36px;
            margin-bottom: 15px;
          }
        }

        .mini-heading {
          font-size: 36px;
          font-weight: 500;
          color: $color-5;
          margin-bottom: 40px;
          display: block;
          @media only screen and (max-width: 1152px) {
            font-size: 30px;
          }
          @media only screen and (max-width: 991px) {
            font-size: 22px;
            margin-bottom: 20px;
          }
        }

        .get-started-btn {
          text-align: center;
          width: 220px;
          padding: 22px 0;
          border: 2px solid $color-3;
          border-radius: 4px;
          color: $color-2;
          font-weight: 700;
          letter-spacing: 0.15em;
          font-size: 14px;
          cursor: pointer;
          transition: color 0.2s linear, background-color 0.2s linear;
          @media only screen and (max-width: 1152px) {
            font-size: 14px;
          }
          @media only screen and (max-width: 991px) {
            margin: 10px auto 20px;
            padding: 18px 0;
            width: 180px;
          }

          &:hover {
            background-color: $color-3;
            color: $color-4;
          }
        }
      }

      .subscribe-section {
        text-align: center;

        .txt {
          color: $color-5;
          font-weight: 500;
          padding-bottom: 15px;
          font-size: 20px;
        }

        input[type="text"] {
          color: $color-5;
          min-width: 250px;
          // width: 100%;
          box-sizing: border-box;
          letter-spacing: 1px;
          border: 0;
          padding: 7px 0;
          border-bottom: 1px solid $color-3;
          font-size: 16px;
          font-weight: 300;
          padding: 0 0 5px 5px;
          background-color: transparent;
          outline: none;
          @media only screen and (max-width: 769px) {
            margin-bottom: 10px;
            font-size: 18px;
          }
          @media only screen and (max-width: 533px) {
            font-size: 16px;
            min-width: 200px;
          }

          &::-webkit-input-placeholder {
            color: $color-3;
          }
        }

        .subscribe-btn {
          margin: 0 20px;
          padding: 10px 20px;
          background-color: transparent;
          color: $color-6;
          transition: color linear 0.3s;
          // transition: background-color linear 0.3s;
          font-size: 16px;
          font-weight: 500;
          border-radius: 30px;
          border-color: $color-3;
          @media only screen and (max-width: 769px) {
            margin-top: 20px;
            font-size: 18px;
          }
          @media only screen and (max-width: 533px) {
            margin: 10px 10px 0;
            font-size: 16px;
          }

          &:hover {
            box-shadow: 0 0 20px 0 rgba(78,92,110,1);
            // background-color: $color-6;
            color: $color-5;
          }
        }
      }

      .page-list {
        margin: 40px 0 0 25%;
        @media only screen and (max-width: 1440px) {
          margin: 40px 0 0 20%;
        }
        @media only screen and (max-width: 1024px) {
          margin: 40px 0 0 12%;
        }
        @media only screen and (max-width: 993px) {
          margin: 30px 0 0 27%;
        }
        @media only screen and (max-width: 769px) {
          // margin: 30px 0 0 20%;
        }
        @media only screen and (max-width: 600px) {
          margin: 30px 0 0 18%;
        }
        @media only screen and (max-width: 533px) {
          margin: 30px 0 0 15%;
        }
        @media only screen and (max-width: 508px) {
          margin: 30px 0 10%;
        }
        @media only screen and (max-width: 508px) {
          margin: 30px 0 0;
          text-align: center;
        }

        .link-list {
          padding: 0 40px;
          @media only screen and (max-width: 769px) {
            padding: 0 20px;
          }
          @media only screen and (max-width: 508px) {
            display: block;
          }
          display: inline-block;

          li {
            padding-bottom: 20px;
            @media only screen and (max-width: 508px) {
              padding-bottom: 10px;
            }

            a {
              text-transform: uppercase;
              letter-spacing: 0.1em;
              font-size: 12px;
              color: $color-3;
              transition: color 0.2s linear;

              &.active,
              &:hover {
                color: $color-6;
              }
            }
          }
        }
      }

      .social-list {
        list-style: none;
        // display: inline-block;
        vertical-align: top;
        margin-top: 20px;
        text-align: center;

        li {
          display: inline-block;
          transition: transform 0.2s linear;
          margin: 0 5px;

          a {
            img {
              width: 30px;
            }
          }

          &:hover {
            transform: translateY(-5px);
          }
        }
      }

      .footer-copyright-info {
        text-align: center;
        font-weight: 300;
        font-size: 12px;
        text-transform: uppercase;
        color: $color-3;
        letter-spacing: 0.1em;
        padding: 30px 0 15px;
        @media only screen and (max-width: 508px) {
          padding: 30px 0 5px;
          font-size: 10px;
          letter-spacing: 0;
        }

        .yellow {
          color: $color-2;
        }
      }
    }
  }
}
