.verification {
  .main-heading {
    padding: 180px 20px 20px 100px;
    font-size: 72px;
    font-weight: 700;
    color: $color-6;
    @media only screen and (max-width: 769px) {
      padding: 110px 0 20px;
      font-size: 38px;
      text-align: center;
    }
  }

  .desc {
    padding: 0 0 0 100px;
    @media only screen and (max-width: 769px) {
      padding: 0;
      font-size: 18px;
      line-height: 22px;
      padding: 10px 5px 20px;
    }
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    color: $color-3;
  }

  .bg-icon {
    padding: 100px 50px 50px;
    max-height: 600px;
    @media only screen and (max-width: 769px) {
      padding: 50px;
      display: none;
    }
  }
}

.verifications-container {
  padding-bottom: 20px;

  hr {
    border-top: 1px solid $color-3;
    max-width: 500px;
  }

  h2 {
    margin: 50px 200px 80px;
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
    color: $color-5;
    text-align: center;
    @media only screen and (max-width: 769px) {
      font-size: 20px;
      line-height: 24px;
      margin: 20px 10px;
    }

    .blue {
      color: $color-6;
    }
  }

  img {
    max-width: 90%;
    padding: 0 0 20px 100px;
    @media only screen and (max-width: 769px) {
      padding: 0;
      max-width: 100%;
    }
  }
}
