.whatIsEth {
  margin-top: 133px;

  .hero {
    background: url("../modules/whatIsEth/Img/header_bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    height: 640px;
    padding: 140px 20px;
    @media only screen and (max-width: 1100px) {
      padding: 100px 20px;
      height: 340px;
    }

    .b-icon {
      position: absolute;
      left: -260px;
      height: 540px;
      top: 0;
      transform: scale(1.2);
      @media only screen and (min-width:620px) and(max-width: 1100px) {
        left: -172px;
        width: 350px;
        height: 340px;
        top: -22px;
        transform: scale(1);
        display: inline;
      }
      @media only screen and (min-width:320px) and(max-width: 619px) {
        left: -167px;
        height: 290px;
        top: -22px;
        transform: scale(0.9);
        display: inline;
      }
    }

    .t1 {
      color: #9aa6b4;
      font-size: 80px;
      position: absolute;
      left: 500px;
      top: 80px;
      @media only screen and (min-width:620px) and(max-width: 1100px) {
        font-size: 80px;
        left: 200px;
        top: 60px;
      }
      @media only screen and (min-width:320px) and(max-width: 619px) {
        font-size: 22px;
        left: 150px;
        top: 100px;
      }
    }

    .t2 {
      font-size: 140px;
      font-weight: 700;
      position: absolute;
      top: 180px;
      left: 540px;
      @media only screen and (min-width:620px) and(max-width: 1100px) {
        font-size: 80px;
        top: 140px;
        left: 265px;
      }
      @media only screen and (min-width:320px) and(max-width: 619px) {
        font-size: 30px;
        left: 160px;
        top: 132px;
      }
    }

    .t3 {
      position: absolute;
      bottom: 80px;
      left: 400px;
      font-size: 40px;

      span.highLight {
        color: #f4ae2c;
        font-weight: 600;
      }
      @media only screen and (min-width:620px) and(max-width: 1100px) {
        bottom: 60px;
        left: 180px;
        font-size: 24px;
      }
      @media only screen and (min-width:320px) and(max-width: 619px) {
        font-size: 14px;
        left: 44px;
        top: 262px;
      }
    }

    .t4 {
      position: absolute;
      top: 570px;
      left: 400px;
      font-size: 40px;
      @media only screen and (min-width:620px) and(max-width: 1100px) {
        top: 280px;
        left: 180px;
        font-size: 24px;
      }
      @media only screen and (min-width:320px) and(max-width: 619px) {
        font-size: 14px;
        left: 64px;
        top: 282px;
      }
    }
  }

  .all-news {
    padding: 20px 80px;
    @media only screen and (max-width: 991px) {
      padding: 20px 45px;
    }
    @media only screen and (max-width: 450px) {
      padding: 20px 25px;
    }

    .main {
      width: 80%;
    }

    .desc {
      color: $color-3;
      margin-top: 18px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 300;
      @media only screen and (min-width: 992px) {
        height: 140px;
      }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        height: 170px;
      }
    }

    .desc1 {
      color: $color-3;
      margin-top: 10px;
      font-size: 18px;
      line-height: 22px;
      margin-left: -10px;
      font-weight: 300;
    }

    .t2 {
      font-size: 24px;
      line-height: 26px;
      max-height: 54px;
      margin-bottom: 5px;
      overflow: hidden;
      font-weight: 800;
      margin-left: -10px;
      color: $color-1;
      cursor: pointer;
      margin-top: 20px;
    }

    hr.news-item-hr {
      margin: 10px 10px 5px !important;
    }

    .item {
      margin: 20px 0;

      .align-img {
        text-align: end;
      }

      .highLight-border {
        border-bottom: 4px solid $color-2;
        margin-top: 10px;
        margin-left: -10px;
        width: 75%;
      }

      .blog-img {
        max-width: 100%;
        height: 120px;
        width: 100%;
        margin: 10px 0 0;
      }

      h2 {
        font-size: 24px;
        line-height: 28px;
        max-height: 54px;
        margin-bottom: 5px;
        overflow: hidden;
        font-weight: 800;
        margin-left: -10px;
        color: $color-1;
        cursor: pointer;
      }

      .text1 {
        margin-top: 30px;
      }

      p {
        display: block;
        padding: 0 10px;
        font-size: 18px;
        line-height: 22px;
        color: $color-3;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 88px;

        &.timestamp {
          color: $color-3;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }

  .buy-img-container {
    text-align: end;
  }

  .buy-img {
    width: 140px;
    margin-top: 10px;
  }
}
@media only screen and (min-width:320px) and(max-width: 767px) {
  .whatIsEth .all-news .item .blog-img {
    max-width: 100%;
    height: 60px;
    margin: 0;
  }

  .whatIsEth .all-news .item .text1 {
    margin-top: 0;
  }

  .whatIsEth .buy-img-container {
    text-align: end;
  }

  .whatIsEth .buy-img {
    width: 80px;
  }
}
@media only screen and (min-width:320px) and(max-width: 1100px) {
  .whatIsEth .buy-img-container {
    text-align: end;
  }

  .whatIsEth .buy-img {
    width: 80px;
    margin-top: 10px;
  }
}
@media only screen and (min-width:320px) and(max-width: 767px) {
  .whatIsEth .buy-img-container {
    text-align: end;
    padding: 0;
  }

  .whatIsEth .buy-img {
    width: 80px;
    padding: 0;
    margin-top: 12px;
  }
}