.selected{
    color:#F6AE2D !important;

}
.notselect{
    color:white;
    font-size: 2.3vh;
    text-decoration: none;
    font-family:'Raleway', sans-serif;
}
#support{
    color:#44CCFF;
}
.notselect:hover{
     color:#f6ae2d;
 }